html, body {
  margin: 0;
  padding: 0;
}

canvas {
  display: block;
}


.customSlider {
  -webkit-appearance: none;
  appearance: slider;
  height: 8px;
  background: rgba(255,255,255,0.2);
  border-radius: 45px;
}

.customSlider::-webkit-slider-thumb{
  -webkit-appearance: none;
  width: 4px;
  height: 22px;
  background: rgba(255,255,255,1);
  border-radius: 2px;
  box-shadow: 0 0 2px rgba(0,0,0,0.5);
}